<div class="fixed">
  <nav class="top-bar" data-topbar data-options="is_hover: false">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Data Structure Explorer</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li data-ng-class="{active: active_page == 0}" class="has-dropdown">
          <a id="dropdown_define_link" href="#" data-ng-click="$event.preventDefault()">Edit</a>
          <ul class="dropdown">
            <li><label>Data Structures</label></li>
            <li data-ng-repeat="data_structure in data_structures" data-ng-class="{active: active_page == 0 && active_data_structure == data_structure}"><a href="#" data-ng-click="editDataStructure(data_structure, $event); closeTopBarMenu();">{{ data_structure.name || 'Untitled' }}</a></li>
            <li class="divider"></li>
            <li><a href="#" data-ng-click="newDataStructure($event); closeTopBarMenu();">New data structure</a></li>
          </ul>
        </li>

        <li data-ng-class="{active: active_page == 1}" class="has-dropdown">
          <a id="dropdown_define_link" href="#" data-ng-click="$event.preventDefault()">Explore</a>
          <ul class="dropdown">
            <li><label>Data Structures</label></li>
            <li data-ng-repeat="data_structure in data_structures" data-ng-class="{active: active_page == 1 && active_data_structure == data_structure}"><a href="#" data-ng-click="exploreDataStructure(data_structure, $event); closeTopBarMenu();">{{ data_structure.name || 'Untitled' }}</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>

<div data-ng-show="active_page == 0">
  <div class="row" ng-hide="active_data_structure">
    <div class="small-12 column">
      <h2>Data structure editor</h2>
      <hr />
    </div>
  </div>
  <div class="row" ng-hide="active_data_structure">
    <div class="small-4 column">
      <a href="#" class="button" data-ng-click="newDataStructure($event)">New data structure</a>
    </div>
  </div>

  <div data-ng-show="active_data_structure">
    <div class="row">
      <div class="small-12 column">
        <h2>Edit: {{ active_data_structure.name || 'Untitled' }}</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="small-4 column">
        <label>Name
          <input type="text" placeholder="e.g., Binary search tree" data-ng-model="active_data_structure.name" />
        </label>

        <label>Model of computation
          <select data-ng-model="active_data_structure.model" data-ng-options="key as value.name for (key, value) in models" class="no-bottom-margin">
          </select>
        </label>

        <fieldset data-ng-show="active_data_structure.model == 'POINTER_MACHINE'">
          <legend>Node fields</legend>
          <ul data-ng-show="active_data_structure.fields.length > 0">
            <li data-ng-repeat="field in active_data_structure.fields">
              <a href="#" id="dropdown_field_link_{{ field }}" data-dropdown="dropdown_field_{{ field }}">{{ field }}</a>
              <ul id="dropdown_field_{{ field }}" class="f-dropdown" data-dropdown-content>
                <li><a href="#" data-ng-click="moveFieldUp(active_data_structure, field, $event)" data-ng-hide="$first"><i class="fi-arrow-up"></i> Move up</a></li>
                <li><a href="#" data-ng-click="moveFieldDown(active_data_structure, field, $event)" data-ng-hide="$last"><i class="fi-arrow-down"></i> Move down</a></li>
                <li><a href="#" data-ng-click="deleteField(active_data_structure, field, $event)"><i class="fi-minus-circle"></i> Delete</a></li>
              </ul>
            </li>
          </ul>

          <form class="no-bottom-margin" data-ng-submit="addField(active_data_structure, $event)">
            <div class="row collapse">
              <div class="small-7 column">
                <input data-ng-model="new_field_name" data-ng-focus="clearAddFieldError(active_data_structure)" data-ng-blur="clearAddFieldError(active_data_structure)" type="text" class="no-bottom-margin" placeholder="e.g., left_child" />
              </div>
              <div class="small-5 column end">
                <input type="submit" class="button postfix no-bottom-margin" data-ng-blur="clearAddFieldError(active_data_structure)" value="Add field" />
              </div>
            </div>
            <small class="error no-bottom-margin" data-ng-show="new_field_error">{{ new_field_error }}</small>
          </form>
        </fieldset>

        <fieldset>
          <legend>Operations</legend>
          <ul data-ng-show="active_data_structure.operations.length > 0">
            <li data-ng-repeat="operation in active_data_structure.operations">
              <a href="#" id="dropdown_operation_link_{{ operation.name }}" data-dropdown="dropdown_operation_{{ operation.name }}">{{ operation.name }}(<span data-ng-repeat="arg in operation.arguments"><span ng-hide="$first">, </span>{{ arg }}</span>)</a>
              <ul id="dropdown_operation_{{ operation.name }}" class="f-dropdown" data-dropdown-content>
                <li><a href="#" data-ng-click="moveOperationUp(active_data_structure, operation, $event)" data-ng-hide="$first"><i class="fi-arrow-up"></i> Move up</a></li>
                <li><a href="#" data-ng-click="moveOperationDown(active_data_structure, operation, $event)" data-ng-hide="$last"><i class="fi-arrow-down"></i> Move down</a></li>
                <li><a href="#" data-ng-click="deleteOperation(active_data_structure, operation, $event)"><i class="fi-minus-circle"></i> Delete</a></li>
              </ul>
            </li>
          </ul>

          <form class="no-bottom-margin" data-ng-submit="addOperation(active_data_structure, $event)">
            <div class="row collapse">
              <div class="small-7 column">
                <input data-ng-model="active_data_structure.new_operation_name" data-ng-focus="clearAddOperationError(active_data_structure)" data-ng-blur="clearAddOperationError(active_data_structure)" type="text" class="no-bottom-margin" placeholder="e.g., insert" />
              </div>
              <div class="small-5 column end">
                <input type="submit" class="button postfix no-bottom-margin" data-ng-blur="clearAddOperationError(active_data_structure)" value="Add Operation" />
              </div>
            </div>
            <small class="error no-bottom-margin" data-ng-show="active_data_structure.new_operation_error">{{ active_data_structure.new_operation_error }}</small>
          </form>
        </fieldset>

        <a href="#" class="button tiny alert" data-ng-click="deleteDataStructure(active_data_structure, $event)">Delete data structure</a>
      </div>

      <div class="small-8 column">
        <div data-ng-repeat="operation in active_data_structure.operations">
          <label>{{ operation.name }}(<span data-ng-repeat="arg in operation.arguments"><span ng-hide="$first">, </span>{{ arg }}</span>)
            <textarea id="definition" data-ng-model="operation.code" placeholder="Define the operation in JavaScript."></textarea>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-ng-show="active_page == 1">
  <div class="row" ng-hide="active_data_structure">
    <div class="small-12 column">
      <h2>Data structure explorer</h2>
      <hr />
    </div>
  </div>
  <div class="row" ng-hide="active_data_structure">
    <div class="small-4 column">
      <p>Switch to the <em>Edit</em> view and define a data structure.</p>
    </div>
  </div>

  <div data-ng-show="active_data_structure">
    <div class="row">
      <div class="small-12 column">
        <h2>Explore: {{ active_data_structure.name || 'Untitled' }}</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="small-4 column">
        <p>Model of computation: <em>{{ models[active_data_structure.model].name }}</em></p>

        <fieldset>
          <legend>Operations</legend>
          <ul data-ng-show="active_data_structure.operations.length > 0" class="no-bottom-margin">
            <li data-ng-repeat="operation in active_data_structure.operations">
              {{ operation.name }}(<span data-ng-repeat="arg in operation.arguments"><span ng-hide="$first">, </span>{{ arg }}</span>)
            </li>
          </ul>
        </fieldset>

        <fieldset>
          <legend>Command history</legend>
          <form class="no-bottom-margin" data-ng-submit="">
            <div class="row collapse">
              <div class="small-9 column">
                <input type="text" class="no-bottom-margin" placeholder="e.g., insert(5, 'foo')" />
              </div>
              <div class="small-3 column end">
                <input type="submit" class="button postfix no-bottom-margin" value="Submit" />
              </div>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</div>
