<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-contents">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-send"></span> Data Structure Explorer</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-contents">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-ng-show="active_data_structure">{{ active_data_structure.name || 'Untitled' }}</span><span data-ng-hide="active_data_structure">Data structures</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li data-ng-repeat="data_structure in data_structures" data-ng-class="{ active: active_data_structure === data_structure }">
              <a href="#" data-ng-click="activateDataStructure(data_structure); $event.preventDefault();">{{ data_structure.name || 'Untitled' }}</a>
            </li>
            <li class="divider" data-ng-show="data_structures.length > 0"></li>
            <li><a href="#" data-ng-click="newDataStructure(); $event.preventDefault();"><span class="glyphicon glyphicon-plus"></span> New data structure</a></li>
          </ul>
        </li>
        <li data-ng-class="{ active: active_page === 0 }"><a href="#" data-ng-click="active_page = 0; $event.preventDefault();"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
        <li data-ng-class="{ active: active_page === 1 }"><a href="#" data-ng-click="active_page = 1; $event.preventDefault();"><span class="glyphicon glyphicon-globe"></span> Explore</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" data-ng-show="active_page === 0">
  <div data-ng-hide="active_data_structure">
    <div class="row">
      <div class="col-sm-12">
        <h2>Data structure editor</h2>
        <hr />
        <a href="#" class="btn btn-primary" data-ng-click="newDataStructure(); stopClick($event);">New data structure</a>
      </div>
    </div>
  </div>
  <div data-ng-show="active_data_structure">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ active_data_structure.name || 'Untitled' }}</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Basic properties</div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="ds-name" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="ds-name" placeholder="e.g., Binary search tree" data-ng-model="active_data_structure.name">
                </div>
              </div>
              <div class="form-group">
                <label for="ds-model" class="col-sm-3 control-label">Model</label>
                <div class="col-sm-9">
                  <select class="form-control" id="ds-model" data-ng-model="active_data_structure.model" data-ng-options="model as model.name for model in models"></select>
                </div>
              </div>
            </form>

            <div class="well" data-ng-show="active_data_structure.model === models[0]">
              <label>Node fields</label>
              <ul data-ng-show="active_data_structure.model_options.fields.length > 0">
                <li data-ng-repeat="field in active_data_structure.model_options.fields" data-ng-init="rename = false">
                  <div class="dropdown">
                    <form data-ng-show="rename" data-ng-submit="renameField(field, new_field_name); rename = false; $event.preventDefault();">
                      <input type="text" id="new-field-name-{{ field }}" class="form-control inline-block" data-ng-model="new_field_name" data-ng-blur="renameField(field, new_field_name); rename = false;" placeholder="e.g., left_child" />
                      <input type="submit" class="hidden" />
                    </form>
                    <a data-ng-hide="rename" data-toggle="dropdown" href="#"><code>{{ field }}</code></a>
                    <ul class="dropdown-menu">
                      <li><a href="#" data-ng-click="moveFieldUp(field); $event.preventDefault();" data-ng-hide="$first"><span class="glyphicon glyphicon-arrow-up"></span> Move up</a></li>
                      <li><a href="#" data-ng-click="moveFieldDown(field); $event.preventDefault();" data-ng-hide="$last"><span class="glyphicon glyphicon-arrow-down"></span> Move down</a></li>
                      <li><a href="#" data-ng-click="rename = true; new_field_name = field; prepareRenameField(field); $event.preventDefault();"><span class="glyphicon glyphicon-edit"></span> Rename</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#confirm-field-delete-modal" data-ng-click="prepareDeleteField(field)"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <form data-ng-submit="addField(); $event.preventDefault();">
                <div class="form-group no-bottom-margin" data-ng-class="{ 'has-error': new_field_error }">
                  <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="new_field_name" data-ng-focus="clearAddFieldError()" data-ng-blur="clearAddFieldError()" placeholder="e.g., left_child" />
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default" data-ng-blur="clearAddFieldError()"><span class="glyphicon glyphicon-plus"></span> Add field</button>
                    </span>
                  </div>
                  <p class="no-bottom-margin" data-ng-show="new_field_error">{{ new_field_error.message }}</p>
                </div>
              </form>
            </div>

            <div class="well">
              <label>Operations</label>
              <ul data-ng-show="active_data_structure.operations.length > 0">
                <li data-ng-repeat="operation in active_data_structure.operations" data-ng-init="rename = false">
                  <div class="dropdown">
                    <form data-ng-show="rename" data-ng-submit="renameOperation(operation, new_operation_name); rename = false; $event.preventDefault();">
                      <input type="text" id="new-operation-name-{{ operation.name }}" class="form-control inline-block" data-ng-model="new_operation_name" data-ng-blur="renameOperation(operation, new_operation_name); rename = false;" placeholder="e.g., insert" />
                      <input type="submit" class="hidden" />
                    </form>
                    <a data-ng-hide="rename" data-toggle="dropdown" href="#"><code>{{ operation.name }}(<span data-ng-show="operation.arguments === null">&hellip;</span><span data-ng-repeat="arg in operation.arguments"><span ng-hide="$first">, </span>{{ arg }}</span>)</code></a>
                    <span class="compile-success" data-ng-hide="operation.error || rename" data-toggle="tooltip" data-placement="right" title="Compiled successfully."><span class="glyphicon glyphicon-ok"></span></span>
                    <span data-ng-show="operation.error && !rename">
                      <span class="compile-error" data-ng-show="operation.error.stack_list" data-toggle="tooltip" data-placement="right" data-html="true" title="{{ operation.error.name }}: {{ operation.error.message }}<br />{{ operation.error.stack_list.join('<br />') }}"><span class="glyphicon glyphicon-remove"></span></span>
                      <span class="compile-error" data-ng-hide="operation.error.stack_list" data-toggle="tooltip" data-placement="right" data-html="true" title="{{ operation.error.name }}: {{ operation.error.message }}"><span class="glyphicon glyphicon-remove"></span></span>
                    </span>
                    <ul class="dropdown-menu">
                      <li><a href="#" data-ng-click="moveOperationUp(active_data_structure, operation); $event.preventDefault();" data-ng-hide="$first"><span class="glyphicon glyphicon-arrow-up"></span> Move up</a></li>
                      <li><a href="#" data-ng-click="moveOperationDown(active_data_structure, operation); $event.preventDefault();" data-ng-hide="$last"><span class="glyphicon glyphicon-arrow-down"></span> Move down</a></li>
                      <li><a href="#" data-ng-click="rename = true; new_operation_name = operation.name; prepareRenameOperation(operation); $event.preventDefault();"><span class="glyphicon glyphicon-edit"></span> Rename</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#confirm-operation-delete-modal" data-ng-click="prepareDeleteOperation(operation)"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <form data-ng-submit="addOperation(active_data_structure); $event.preventDefault();">
                <div class="form-group no-bottom-margin" data-ng-class="{ 'has-error': new_operation_error }">
                  <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="new_operation_name" data-ng-focus="clearAddOperationError()" data-ng-blur="clearAddOperationError()" placeholder="e.g., insert" />
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default" data-ng-blur="clearAddOperationError()"><span class="glyphicon glyphicon-plus"></span> Add operation</button>
                    </span>
                  </div>
                  <p class="no-bottom-margin" data-ng-show="new_operation_error">{{ new_operation_error.message }}</p>
                </div>
              </form>
            </div>

            <p class="no-bottom-margin">
              <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirm-ds-delete-modal"><span class="glyphicon glyphicon-trash"></span> Delete data structure</a>
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Model of computation</div>
          <div class="panel-body">
            <div data-ng-show="active_data_structure.model === models[0]">
              <h3 class="no-top-margin">Pointer machine</h3>
              <p>A model of computation in which nodes of fixed or bounded size are linked. The following primitive operations are supported:</p>
              <ul class="no-bottom-margin">
                <li>
                  <p class="no-bottom-margin"><code>make_node(data)</code></p>
                  <p>Create a new node. Optionally, a <code>data</code> object may be provided which is used to initialize the fields of the node. At attempt to initialize fields that are not listed above will raise an error.</p>
                </li>
                <li>
                  <p class="no-bottom-margin"><code>delete_node(node)</code></p>
                  <p>Delete a node. An error will be raised if any other nodes point to it.</p>
                </li>
                <li>
                  <p class="no-bottom-margin"><code>x.field</code></p>
                  <p>Read a field of a node.</p>
                </li>
                <li>
                  <p class="no-bottom-margin"><code>x.field = y</code></p>
                  <p>Assign to a field of a node.</p>
                </li>
                <li>
                  <p class="no-bottom-margin"><code>global.root</code></p>
                  <p class="no-bottom-margin">The global entry point into the data structure. This pointer may be written to and read from.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div data-ng-repeat="operation in active_data_structure.operations">
          <div class="form-group">
            <label for="ds-code-{{ operation.name }}">
              <code>{{ operation.name }}(<span data-ng-show="operation.arguments === null">&hellip;</span><span data-ng-repeat="arg in operation.arguments"><span ng-hide="$first">, </span>{{ arg }}</span>)</code>
              <span class="compile-success" data-ng-hide="operation.error" data-toggle="tooltip" data-placement="right" title="Compiled successfully."><span class="glyphicon glyphicon-ok"></span></span>
              <span data-ng-show="operation.error">
                <span class="compile-error" data-ng-show="operation.error.stack_list" data-toggle="tooltip" data-placement="right" data-html="true" title="{{ operation.error.name }}: {{ operation.error.message }}<br />{{ operation.error.stack_list.join('<br />') }}"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="compile-error" data-ng-hide="operation.error.stack_list" data-toggle="tooltip" data-placement="right" data-html="true" title="{{ operation.error.name }}: {{ operation.error.message }}"><span class="glyphicon glyphicon-remove"></span></span>
              </span>
            </label>
            <div class="replace-with-codemirror"></div>
            <textarea id="ds-code-{{ operation.name }}" class="hidden" data-ng-model="operation.code" data-ng-trim="false"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" data-ng-show="active_page === 1">
  <div data-ng-hide="active_data_structure">
    <div class="row">
      <div class="col-sm-12">
        <h2>Data structure explorer</h2>
        <hr />
        <p>Switch to the <a href="#" data-ng-click="active_page = 0; stopClick($event);">Edit</a> view and define a data structure.</p>
      </div>
    </div>
  </div>
  <div data-ng-show="active_data_structure">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ active_data_structure.name || 'Untitled' }}</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">Basic properties</div>
          <div class="panel-body">
            <p>Model of computation: <em>{{ active_data_structure.model.name }}</em></p>

            <div class="well" data-ng-show="active_data_structure.model === models[0]">
              <p class="no-bottom-margin" data-ng-show="active_data_structure.model_options.fields.length === 0">Switch to the <a href="#" data-ng-click="active_page = 0; stopClick($event);">Edit</a> view and define some node fields.</p>
              <label data-ng-show="active_data_structure.model_options.fields.length > 0">Node fields</label>
              <ul class="no-bottom-margin" data-ng-show="active_data_structure.model_options.fields.length > 0">
                <li data-ng-repeat="field in active_data_structure.model_options.fields">
                  <div class="dropdown">
                    <code>{{ field }}</code>
                  </div>
                </li>
              </ul>
            </div>

            <div class="well no-bottom-margin">
              <p class="no-bottom-margin" data-ng-show="active_data_structure.operations.length === 0">Switch to the <a href="#" data-ng-click="active_page = 0; stopClick($event);">Edit</a> view and define some operations.</p>
              <label data-ng-show="active_data_structure.operations.length > 0">Operations</label>
              <ul class="no-bottom-margin" data-ng-show="active_data_structure.operations.length > 0">
                <li data-ng-repeat="operation in active_data_structure.operations">
                  <code>{{ operation.name }}(<span data-ng-repeat="arg in operation.arguments"><span ng-hide="$first">, </span>{{ arg }}</span>)</code>
                  <span class="compile-success" data-ng-hide="operation.error" data-toggle="tooltip" data-placement="right" title="Compiled successfully."><span class="glyphicon glyphicon-ok"></span></span>
                  <span data-ng-show="operation.error">
                    <span class="compile-error" data-ng-show="operation.error.stack_list" data-toggle="tooltip" data-placement="right" data-html="true" title="{{ operation.error.name }}: {{ operation.error.message }}<br />{{ operation.error.stack_list.join('<br />') }}"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="compile-error" data-ng-hide="operation.error.stack_list" data-toggle="tooltip" data-placement="right" data-html="true" title="{{ operation.error.name }}: {{ operation.error.message }}"><span class="glyphicon glyphicon-remove"></span></span>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        {{ makeString(computation_state.root) }}
      </div>
      <div class="col-sm-3"> 
        <div class="panel panel-default">
          <div class="panel-heading">Command history</div>
          <div class="panel-body">
            <ul id="command-history" class="list-unstyled" data-ng-show="command_history.length > 0">
              <li id="empty" class="command" data-ng-show="haveCommandHistory()" data-ng-class="{ 'command-active': command_history_cursor === null }">empty</li>
              <li class="command" data-ng-repeat="command in command_history">
                <span data-ng-class="{ 'command-active': $index === command_history_cursor }">{{ command.str }}</span>
                <ul>
                  <li data-ng-repeat="step in command.steps" id="step-{{ $parent.$index }}-{{ $index }}" data-ng-class="{ 'command-step-active': $parent.$index === command_history_cursor && $index === command_history_step_cursor }">{{ step.repr }}</li>
                </ul>
                <ul class="list-unstyled" data-ng-hide="command.return_value === undefined">
                  <li class="return-value">{{ makeString(command.return_value) }}</li>
                </ul>
              </li>
            </ul>

            <form data-ng-submit="newCommand(); $event.preventDefault();">
              <div class="form-group" data-ng-class="{ 'has-error': new_command_error }">
                <div class="input-group">
                  <input id="new_command_str" data-ng-keydown="commandKeyDown($event)" type="text" class="form-control" data-ng-model="new_command_str" data-ng-focus="clearNewCommandError()" data-ng-blur="clearNewCommandError()" placeholder="e.g., insert(5)" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" data-ng-blur="clearNewCommandError()">Go <span class="glyphicon glyphicon-chevron-right"></span></button>
                  </span>
                </div>
                <p data-ng-show="new_command_error">
                  {{ new_command_error.name }}: {{ new_command_error.message }}
                </p>
                <pre data-ng-show="new_command_error && new_command_error.stack_list" data-ng-bind-html="new_command_error.stack_list.join('\n')"></pre>
              </div>
            </form>

            <p class="btn-group no-bottom-margin">
              <a href="#" class="btn btn-default" data-ng-click="fastBackward(true); $event.preventDefault();" data-ng-class="{ 'disabled': !canStepBackward() }"><span class="glyphicon glyphicon-fast-backward"></span></a>
              <a href="#" class="btn btn-default" data-ng-click="stepBackward(true); $event.preventDefault();" data-ng-class="{ 'disabled': !canStepBackward() }"><span class="glyphicon glyphicon-step-backward"></span></a>
              <a href="#" class="btn btn-danger" data-ng-click="resetState(); $event.preventDefault();" data-ng-class="{ 'disabled': !haveCommandHistory() }"><span class="glyphicon glyphicon-repeat"></span> Reset</a>
              <a href="#" class="btn btn-default" data-ng-click="stepForward(true); $event.preventDefault();" data-ng-class="{ 'disabled': !canStepForward() }"><span class="glyphicon glyphicon-step-forward"></span></a>
              <a href="#" class="btn btn-default" data-ng-click="fastForward(true); $event.preventDefault();" data-ng-class="{ 'disabled': !canStepForward() }"><span class="glyphicon glyphicon-fast-forward"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="confirm-field-delete-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <code>{{ field_to_delete }}</code>?
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-danger" data-ng-click="deleteField(field_to_delete); $event.preventDefault();" data-dismiss="modal"><span class="glyphicon glyphicon-trash"></span> Delete</a>
      </div>
    </div>
  </div>
</div>

<div id="confirm-operation-delete-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <code>{{ operation_to_delete.name }}(<span data-ng-repeat="arg in operation_to_delete.arguments"><span ng-hide="$first">, </span>{{ arg }}</span>)</code>?
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-danger" data-ng-click="deleteOperation(operation_to_delete); $event.preventDefault();" data-dismiss="modal"><span class="glyphicon glyphicon-trash"></span> Delete</a>
      </div>
    </div>
  </div>
</div>

<div id="confirm-ds-delete-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to delete <strong>{{ active_data_structure.name || 'Untitled' }}</strong>?
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-danger" data-ng-click="deleteDataStructure(); $event.preventDefault();" data-dismiss="modal"><span class="glyphicon glyphicon-trash"></span> Delete</a>
      </div>
    </div>
  </div>
</div>
