body {
  font-size: 1.6em !important;

  ul > li > ul.list-unstyled {
    padding-left: 40px;
  }

  .CodeMirror {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    height: auto;
  }

  .CodeMirror-scroll {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .return-value {
    color: #31708f;
  }

  .form-control:focus {
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 2px 0px 0px inset !important;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 2px 0px 0px inset !important;
    border-color: #ccc;
  }

  .no-top-margin {
    margin-top: 0;
  }

  .no-bottom-margin {
    margin-bottom: 0;
  }

  .no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
  }

  .compile-success {
    color: #5daa5e;
  }

  .compile-error {
    color: #bd5755;
  }

  #new_command_str {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  #command-history {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.93em;
    max-height: 400px;
    overflow: auto;

    .command-active {
      font-weight: bold;
    }

    .command-step-active {
      font-weight: bold;
      color: #090;
    }
  }
}
