body {
  .top-bar .name h1 a {
    font-weight: 300;
    font-size: 0.9em;
  }

  h2 {
    margin-top: 32px;
  }

  .no-top-margin {
    margin-top: 0;
  }

  .no-bottom-margin {
    margin-bottom: 0;
  }

  .no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
  }

  .error-container {
    margin-bottom: 1rem;
  }

  .top-bar-section ul.dropdown li.active:not(.has-form) a:not(.button):not(:hover) {
    background-color: #008cba;
  }

  #definition {
    font-family: 'consolas', monospace;
    resize: vertical;
    height: 300px;
    min-height: 300px;
  }

  #command-history {
    font-family: 'consolas', monospace;
    max-height: 250px;
    overflow: auto;

    * {
      font-size: 0.8rem;
    }

    .command-active {
      font-weight: bold;
    }

    .command-step-active {
      font-weight: bold;
      color: #090;
    }
  }
}
